.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}
#five-day {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* styling for the five day forecast*/
#five-day li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: dodgerblue;
  color: #ffffff;
  border-radius: 10px;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 10px;
  flex: 0.2;
  min-height: 200px;
}
#weather-date {
  font-size: 26px;
  font-weight: 700;
}
#city {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*styling for the search history*/

#city li {
  margin: 10px 0;
  padding: 0.5em 0;
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer;
}
body {
  background-image: url("./Hawaii.JPG");
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
